<%- include('./layouts/header') %>

<h2 class="title">Core Management</h2>
<div class="vrvassignment-info">
  <ol class="vrvassignment-info">
    <li><b>User Management</b></li>
    <ul>
      <li>View and manage users</li>
      <li>Add, edit, or delete users</li>
      <li>Assign roles to users and manage their status (e.g., Active/Inactive)</li>
    </ul>
    <li><b>Role Management</b></li>
    <ul>
      <li>Define and edit roles</li>
      <li>Include permissions (e.g., Read, Write, Delete) or custom attributes</li>
    </ul>
    <li><b>Dynamic Permissions</b></li>
    <ul>
      <li>Assign or modify permissions for roles</li>
      <li>Clearly display permissions for easy understanding and modification</li>
    </ul>
    <li><b>Custom API Simulation (Optional)</b></li>
    <ul>
      <li>Mock API calls for CRUD operations on users and roles</li>
      <li>Simulate server responses to validate functionality</li>
    </ul>
    <li>Somethings are always extra 😊</li>
  </ol>
  
</div>
<div class="video-container">
  <video autoplay muted loop playsinline>
    <source src="https://www.shutterstock.com/shutterstock/videos/3404459391/preview/stock-footage-seamless-loop-blue-wavy-lines-binary-data-numbers-on-clean-white-web-technology-background.webm" type="video/mp4">
    
    Your browser does not support the video tag.
  </video>
</div>

<%- include('./layouts/footer') %>
